@import './styles/widget.scss';

.flex-row {
  display: flex;
  // flex-direction: row;
}

.flex-column {
  display: flex;
  // flex-direction: column;
}

.flex-this {
  flex-grow: 1;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #aaa;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.widget {
  border: 1px dashed #ddd;
  &:hover {
    box-shadow: 3px 3px 8px 0 rgba(50, 50, 50, 0.4);
  }
  &.selected {
    border: 1px solid #4488ff;
    background-color: rgba(0, 100, 255, 0.04);
  }
  &.widget-website {
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
}
.widget-inner {
  padding: 10px;
  height: 100%;
}